<div class="row">
    <div class="col-sm-12 col-md-3 bg-dark">
        
        <div class="card-body">
            <nav class="navbar flex-column">
                <a class="navbar-brand" href="#" style="margin-left: 35px">
                    <img src="/img/FVK.png" width="150" height="150" class="d-inline-block align-top" alt="Logo FVK." title="Logo Federación Venezolana de Kendo Iaido & Jodo.">
                </a>
                <br>
                <br>
                <li class="nav-item">
                    <a href="/dojos/init" class="nav-link"><i class="fa fa-home"></i>  Inicio</a>
                </li>
                <br>
                <br>
                <li class="nav-item">
                    <a href="/dojos/members" class="nav-link"><i class="fa fa-address-card"></i>  Membresía</a>
                </li>
                <br>
                <br>
                <li class="nav-item">
                    <a href="/dojo/config/{{_id}}" class="nav-link"><i class="fas fa-cog"></i>  Configuracion</a>
                </li>
                <br>
                <br>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-credit-card"></i>  Tesorería</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/dojos/ingresos"><i class="fas fa-piggy-bank"></i>  Ingresos</a>
                            <a class="dropdown-item" href="/dojos/egresos"><i class="fas fa-hand-holding-usd"></i>  Egresos</a>
                        </div>
                </li> 
                <br>
                <br>
                <li class="nav-item">
                    <a href="#" class="nav-link disabled"><i class="fa fa-question-circle"></i>  No sé qué poner aquí</a>
                </li>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <li class="nav-item">
                    <button type="button" class="btn btn-outline-danger">
                        <a href="/dojos/logout" class="nav-link "><i class="fas fa-sign-out-alt"></i>  Cerrar Sesión</a>
                    </button>
                </li>
            </nav>
        </div>
    </div>

    <!--Aquí va el contenido-->

    <div class="col-sm-12 col-md-9 content">
        <div class="card-head">
            <br>
            <h1><i class="fas fa-piggy-bank"></i> Historial de ingresos</h1>
        </div>
        <div class="card-body">
            <hr>
            <div class="row container justify-content-end">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
                    <i class="fas fa-donate"></i>  Nueva transaccion
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" class="container">
                        <div class="modal-dialog" role="document" class="reverse">
                            <div class="modal-content container content">
                                <div class="modal-header">
                                    <h5 class="modal-title col-sm-12">Formulario de transacciones</h5>
                                </div>
                                <div class="modal-body">
                                    <form action="/ingreso" method="POST">
                                        <div class="row">
                                            <div class="form-group col-sm-12">
                                                <label for="">Emisor</label>
                                                <input type="text" class="form-control" name="emisor" placeholder="Ej: Fulanito de tal" autofocus>
                                                <small id="emailHelp" class="form-text text-muted col-sm-12">Estar pendiente con mayúsculas, acentos y caracteres especiales.</small>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-12">
                                                <label for="">Cantidad</label>
                                                <input type="number" class="form-control" name="cantidad">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-12">
                                                <label for="">Descripción</label>
                                                <input type="text" class="form-control" name="descripcion" placeholder="Ej: Transferencia bancaria, referencia: 000000000">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                            <button type="submit" class="btn btn-primary"><i class="fa fa-user-plus"></i>Registrar transaccion</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <hr>
            {{#each errors}}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{text}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
            {{/each}}
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Remitente</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Descripción</th>
                        <!--<th scope="col">Status</th>-->
                        <!--<th scope="col">Aceptar</th>-->
                        </tr>
                    </thead>
                    <tbody>
                        {{#each ingreso}}
                            <tr>
                                <th scope="row"> {{cantidad}} </th>
                                <td> {{emisor}} </td>
                                <td> {{fechaDeRealizacion}} </td>
                                <td> {{descripcion}} </td>
                                <!--<td> {{status}} </td>-->
                                <!--Aqui van los botones para cambiar el status y borrar-->
                                <!--<td> <a href="#"><i class="fas fa-check"></i></a> <a href="#"><i class="fas fa-times"></i></a> </td>-->
                            </tr>
                        {{else}}
                            <tr>
                                <th scope="row" colspan="4" >
                                No hay transacciones registradas aún.
                                </th>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>