<div class="row">
    <div class="col-sm-12 col-md-3 bg-dark">
        
        <div class="card-body">
            <nav class="navbar flex-column">
                <a class="navbar-brand" href="#" style="margin-left: 35px">
                    <img src="/img/FVK.png" width="150" height="150" class="d-inline-block align-top" alt="Logo FVK." title="Logo Federación Venezolana de Kendo Iaido & Jodo.">
                </a>
                <br>
                <br>
                <li class="nav-item">
                    <a href="/FVK/init" class="nav-link"><i class="fa fa-home"></i>  Inicio</a>
                </li>
                <br>
                <br>
                <li class="nav-item">
                    <a href="/FVK/list" class="nav-link"><i class="fa fa-address-card"></i>  Dojos</a>
                </li>
                <br>
                <br>
                <li class="nav-item">
                    <a href="/FVK/asignaciones" class="nav-link"><i class="fas fa-archive"></i>  Asignaciones</a>
                </li>
                <br>
                <br>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-credit-card"></i>  Tesorería</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/FVK/ingresos"><i class="fas fa-piggy-bank"></i>  Ingresos</a>
                            <a class="dropdown-item" href="/FVK/egresos"><i class="fas fa-hand-holding-usd"></i>  Egresos</a>
                        </div>
                </li> 
                <br>
                <br>
                <li class="nav-item">
                    <a href="/FVK/solicitudes" class="nav-link"><i class="fas fa-plus-circle"></i>  Nuevos ingresos</a>
                </li>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <li class="nav-item">
                    <button type="button" class="btn btn-outline-danger">
                        <a href="/admin/logout" class="nav-link "><i class="fas fa-sign-out-alt"></i>  Cerrar Sesión</a>
                    </button>
                </li>
            </nav>
        </div>
    </div>

    <!--Aquí va el contenido-->

    <div class="col-sm-12 col-md-9 content">
        <div class="card-head">
            <br>
            <h1><i class="fas fa-archive"></i> Equipos y Suplementos</h1>
        </div>
        <div class="card-body">
            <hr>
            <div class="row container justify-content-end">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
                    <i class="fas fa-boxes"></i>  Nuevo Equipo
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" class="container">
                        <div class="modal-dialog" role="document" class="reverse">
                            <div class="modal-content container content">
                                <div class="modal-header">
                                    <h5 class="modal-title col-sm-12">Registro de equipos y asignaciones</h5>
                                </div>
                                <div class="modal-body">
                                    <form action="/asignaciones/nuevoequipo" method="POST">
                                        <div class="row">
                                            <div class="form-group col-sm-12">
                                                <label for="">Tipo</label>
                                                <input type="text" class="form-control" name="tipo" placeholder="Ej: Shinai" autofocus>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-12">
                                                <label for="">Responsable</label>
                                                <input type="text" class="form-control" name="responsable" placeholder="Nombre del kenshi a asignar.">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-12">
                                                <label for="">Descripción</label>
                                                <input type="text" class="form-control" name="descripcion" placeholder="Shinai de bambu talla 39, incluye shinai bag y tsuba color anaranjado. Tsuru color morado...">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                            <button type="submit" class="btn btn-primary"><i class="fas fa-archive"></i> Registrar equipo</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <hr>
            {{#each errors}}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{text}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
            {{/each}}

            {{#each asignaciones}}
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title d-flex justify-content-between align-items-center">
                            {{ tipo }} <a href="/asignaciones/editar/{{_id}}"><i class="fas fa-edit"></i></a>
                            </h4>
                            <i>Responsable: {{ responsable }}</i>
                            <p>{{ descripcion }}</p>

                            <!-- DELETE REQUEST -->
                            <form action="/asignaciones/borrar/{{_id}}?_method=DELETE" method="POST">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn btn-danger btn-block btn-sm">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            {{else}}
                <div class="card mx-auto">
                    <div class="card-body">
                        <p class="lead">No hay asignaciones registradas.</p>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>