<form action="/Register" method="POST">
    <div class="row">
        <div class="form-group col-sm-12">
            <label for="">Cargo</label>
            <input type="text" class="form-control" name="cargo" placeholder="Ej: Presidente" autofocus>
        </div>
        <div class="form-group col-sm-12 col-md-4">
            <label for="">Correo Institucional</label>
            <input type="email" name="correo" class="form-control" placeholder="ejemplo@ejemplo.com">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-12">
            <label for="">Contraseña</label>
            <input type="number" class="form-control" name="password">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-12">
            <label for="">Permisos</label>
            <select name="permisos" id="" class="form-control">
                <option value="total">Total</option>
                <option value="secretaria">Secretaría</option>
                <option value="financiero">Financiero</option>
            </select>

        </div>
    </div>
    <button type="submit" class="btn btn-primary"><i class="fa fa-user-plus"></i>Ingresar usuario</button>
</form>
